---
const projects = [
  {
    title: "Stock it",
    description: "Stock It (Yobanas Manager) is a mobile‑first SaaS for fashion retailers to manage inventory, product variants, and sales analytics in real time. ",
    link: "https://yobanas-manager.vercel.app/",
    github: "https://github.com/Jodarini/yobanas-manager",
    image: "/projects/yobanas.png",
    techStack: ["TypeScript", "Vue 3", "Nuxt.js", "Tailwind CSS", "Drizzle-orm", "Postgresql", "Shadcn-vue"]
  },
  {
    title: "Split it",
    description: "A simple and intuitive app designed to help you easily split bills and receipts among friends ",
    link: "https://splitit.jodarini.dev",
    github: "https://github.com/Jodarini/SplitIt",
    image: "/projects/splitit.png",
    techStack: ["Vue.js", "TypeScript", "Tailwind CSS"]
  },
  {
    title: "Sclonetify",
    description: "A functional Spotify Clone written in TypeScript using NEXT.JS.",
    link: "https://sclonetify.jodarini.dev/",
    github: "https://github.com/Jodarini/spotify-clone",
    image: "/projects/sclonetify.png",
    techStack: ["React", "Next.js", "App Router", "TypeScript", "Spotify Web API", "Context API", "Tailwind CSS"]
  },
  {
    title: "Tarkov App",
    description: "A Next.js app built with TypeScript that fetches data from the Tarkov.dev API to display a comprehensive list of in-game items, including their prices and detailed information",
    link: "https://tarkov.jodarini.dev",
    github: "https://github.com/Jodarini/tarkov",
    image: "/projects/tarkov.png",
    techStack: ["TypeScript", "React","Next.js", "Pages Router", "Tailwind CSS", "GraphQL"]
  }
];
---

<section class="projects mb-16">
  <h3 class="text-2xl text-[var(--secondary)] mb-4 font-bold">Projects</h3>
  <div class="flex flex-col gap-4">
    {projects.map(project => (
    <div class="rounded-lg overflow-hidden border border-gray-200/10 p-4 flex flex-col gap-4">
        <img src={project.image} alt={`Preview of ${project.title}`} class="w-full object-cover rounded-lg" />
        <div class="project-content flex flex-col justify-between w-full md:w-4/5">
          <h4 class="text-[1.2rem] text-[var(--accent)] mb-2 mt-0 font-bold">{project.title}</h4>
          <p class="text-sm mb-4 leading-relaxed">{project.description}</p>
          
          <div class="flex flex-wrap gap-2 mb-4">
            {project.techStack.map(tech => (
              <span class="border border-gray-200/10 px-2 py-1 rounded-full text-[0.8rem]">
                {tech}
              </span>
            ))}
          </div>

          <div class="project-links flex justify-between">
            {project.link && 
              <a href={project.link} class="project-link inline-block text-[var(--secondary)] no-underline border-b border-[var(--secondary)] transition-opacity duration-300 hover:opacity-80 text-sm" target="_blank">
                View Project
              </a>
            }
            <a href={project.github} class="project-link inline-block text-[var(--secondary)] no-underline border-b border-[var(--secondary)] transition-opacity duration-300 hover:opacity-80 text-sm" target="_blank">
              Github
            </a>
          </div>
        </div>
      </div>
    ))}
  </div>
</section>

